body {
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.udacity.com%2Fcourse%2Fdata-scientist-nanodegree--nd025&psig=AOvVaw3lLNkU4qJjq8KDAwrTtcT3&ust=1721325925339000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPCH6vnUrocDFQAAAAAdAAAAABAE');
  background-size: cover; /* This will ensure the image covers the entire background */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-attachment: fixed; /* This will make the background image fixed */
}
